header
    .toggle-btn
        .toggle-bar-1.box
        .toggle-bar-2.box
        .toggle-bar-3.box
    .logo Budg
        span etify
nav.main-nav
    span
        a(href='/') Home
    span
        if user
            a#log-out LogOut
        else
            a(href='/SignIn') Login
    if budget || user
        if budget
            span
                a(href='/userProfile') User Profile
        else if budget===undefined 
             span
                a(href='/userProfile') User Profile
        else
            span
                a(href='/budgetProfile') Budget Profile
    span
        a(href='/AboutUs') About
    span
        a(href='/ContactUs') Contact
    //- span
    //-     a(href='#') Privacy Policy