extends index
block head
        link(rel="stylesheet" href="/CSS/css/all.css")
        link(rel="stylesheet" href="CSS/About-Us.css")
        //- link(rel="stylesheet" href="CSS/styles.css")
block content
    section
     div(class="about-us")
        h3 ABOUT ME
        p A developer with strong affinity for web design and creating beautiful webpages. I write codes to solve real life problems.
        p The project is a simple budgeting application for checking and monitoring how we spend our resources.
     div(class="illustration")
        img(src="/about-us.png" alt="")
  
