extends index 
block content
        section
            .error
            .error_title
                h2.heading-secondary.heading-secondary--error Ouch Something went wrong !!!
                p=msg