extends index
block head
    link(rel="stylesheet", href="/CSS/login-page.css")
    link(rel='stylesheet' href="/CSS/css/all.css")
    //- script(src="/login-page/js_folder/jquery-3.4.1.js")
block content
    section
        h3 Forgot your password ? 
        form(action="#" method="POST" name="forgetPassword")
            .input-field
                i(class='fas fa-user')
                input(type='email' name='email' placeholder='Email' required)#Email
            br
            input(type="submit" value='Submit' name="submit")#submit
            br
            .login-message
            //- span.remember
            //-     input(type='checkbox' name='remember-me' )#remember-me
            //-    / label Remember me
            .loader
                img(src="/sign-up/5.svg", alt="loading...")
        .line-through
        p Don't have an account ? 
            a(href="/signUp")#signUp REGISTER HERE
    .illustration
    
     
    
     //- script(src="/Js-Files/login-page.js")
     //- script(src='/Js-Files/bundle.js')
     

