extends index

block head
 link(rel='stylesheet' href='/CSS/Sign-Up-Page.css')
block content
  section
    img(src='/sign-up/register-user.png' alt='').user-icon
    h3 Register
    form.Sign-Up
      .user-details
        .input-field
          label FIRSTNAME
          input(type='text' name='firstname'  placeholder='Firstname' required)#firstname
        .input-field
          label LASTNAME
          input(type='text' name='lastname'  placeholder='Lastname' required)#lastname
      .user-details
        .input-field
          label(for='username').user-1 USERNAME
          input(type='text' name='username'  placeholder='Username' required)#username
        .input-field
          label(for='email').user-1 E-MAIL
          input(type='email' name='email'  placeholder='Email' required)#email
      .user-details
        .input-field
          label PASSWORD
          input(type='password' name='password' placeholder='Password' maxlength='12' required)#password
        .input-field
          label PASSWORD CONFIRM
          input(type='password' name='passwordConfirm' placeholder='PasswordConfirm' maxlength='12' required)#passwordConfirm
      input(type='submit' value='Sign Up')#Sign-up

      .sign-up-message
      .login-link Click 
        a(href='/login-page/' target='_blank') Here to login
      .loader
        img(src='/sign-up/5.svg')

  .illustration


