extends index

block head
 link(rel="stylesheet", href="/CSS/css/all.css")
 link(rel="stylesheet", href="/CSS/user-profile.css")
  
block content
 .backdrop
 section 
  .container
   .box-1
    h4 Account Settings
    form.user-account
      label(for="user-name") Username
      br
      input(type="text" name='user-name' value=`${user.username}`)#user-name
      br
      label(for="firstname") First Name
      br
      input(type="text" name='firstname' value=`${user.firstName}`)#first-name
      br
      label(for="lastname") Last Name
      br
      input(type="text" name='lastname' value=`${user.lastName}`)#last-name
      br
      label(for="email") E-mail
      br
      input(type="email" name='email' value=`${user.email}`)#e-mail
      br
    .control-btn
      button#cancel
       a(href="/SignIn") CANCEL
      button#save
       a(href="#") SAVE   
   .box-3
     h4 Update Password
     form.user-password
      label(for="current-password") Current Password
      br
      input(type="password" name='currentPassword' placeholder="Enter your current Password")#currentPassword
      br
      label(for="password") Password
      br
      input(type="password" name='password'  placeholder="new password")#password
      br
      label(for="password-confirm") Confirm Password
      br
      input(type="password" name='passwordConfirm' placeholder="Confirm new password")#passwordConfirm
      br
      input(type="submit", value=`Update`)#update
   .box-2
     button.Create-Budget Create Budget
     .View-Budget  
      button 
       a(href="/budgetProfile") View Budget 
 .new-budget-container
   .cancel-btn
     .btn-1
     .btn-2
   form(class="child-1 create-new-budget")
     label(for="Gross-Budget") Budget(In Naira) :
     input(type="number" name='Budget' placeholder="Enter your budget")#Gross-Budget 
     input(type="submit" value="SAVE" ).save-budget
