body{
    overflow-x: hidden;
}
header{
    background: #2B3252;
    padding: 10px 10px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items: center;
    margin: -10px;
    width: 100%;
    z-index: 3;
    position: sticky;
}
.logo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
}
.logo span{
    color: #EF5455;
}
.toggle-btn{
    display: block;
    margin-right: 0;
}
.box{
    width: 23px;
    margin-bottom: 4px;
    height: 2px;
    background-color: #FFFFFF;
}
.toggle-bar-1{
    opacity:1;
    transition: opacity 700ms ease-in-out 1s;
}
.toggle-bar-2{
    transform: rotateZ(0) translateX(0);
    transition: transform 700ms ease-in-out 1s;
}
.toggle-bar-3{
    transform: rotateZ(0) translateX(0) translateY(0);
    transform-origin: center;
    transition: transform 700ms ease-in-out 1s;
}
.main-nav{
    position: absolute;
    top: 35px;
    left: -300px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width:200px;
    background-color:#2B3252;
    align-items:center;
    opacity:1;
    font-family:Arial, Helvetica, sans-serif;
    font-size:medium;
    transition:left 700ms ease-in-out 1s ;
    z-index:10;
}
.main-nav span{
    margin-top:70px;
}
 a{
     text-decoration:none;
    color: #C2C1BA;
}
section{
    position: absolute; 
    z-index: 5;
}
h2{
    color: #2B3252;
}
.input-field{
    position: relative;
    border-bottom:2px solid;
    margin-top: 40px;
    color: #2B3252;
    width:80% ;
}

label{
    position: absolute;
    top: 0;
    font-size: 13px;
    transition: 0.5s;
    pointer-events: none;
}
#firstname,#lastname,#email,#phone-number{
        display: block;
        width: 90%;
        background: none;
        border: none;
        outline: none;
        box-shadow: none;
}
.user-1:focus ~ label,.user-1:valid ~label{
    transform: translateY(-20px);
    font-size: 8px;
    letter-spacing: 1px;
}
textarea{
    margin-top: 20px;
    margin-bottom: 20px;
    resize: none;  
    border-radius: 10px;
    width: 70%;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
    -moz-appearance: textfield;
  }
#Submit{
    width: 50%;
    background: white;
    font-size: medium;
    font-weight: bold;
    color:#2B3252 ;
    border-radius: 10px;

  }
#Submit:hover{
    background: #2B3252;
    color: white;
}
.illustration{
    background: #EF5455;
    position: absolute;
    right:-1000px ;
    animation: moveLeft 2000ms  1s 1 forwards ;
    display: inline-block;
}
.illustration::before{
    border-top: 340px solid transparent;
    border-bottom: 340px solid transparent;
    border-right: 140px solid #EF5455;
    content: "";
    height: 0;
    left:-140px;
    position: absolute;
}
.msg-sent,.msg-not-sent{
    display: none;
}
@keyframes movedown{
    0%{
        top: -1000px;
    }
    100%{
        top: 200px;
    }
}
@keyframes moveright{
    0%{
        left: -1000px;
    }
    100%{
        left: 0;
    }  
}
@keyframes moveLeft{
    0%{
        right: -1000px;
    }
    100%{
        right: 0;
    }
}
@keyframes moveUp{
    0%{
        bottom: -10000px;
    }
    100%{
        bottom:0;
    }
}
@media(min-width:350px){
    #username,#password{
        width: 100%;
        margin-right: 7px;
    }
}
@media(min-width:500px){
    header{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin:-10px;
    }
    .toggle-btn{
        margin-right: 500px;
    }
    section{
        font-family:Arial, Helvetica, sans-serif;
        margin:  auto;
        width: 250px;
        display: block;
        padding: 10px 55px 10px 55px;
        left: 30%; 
        
    }
    form{
        margin-right:20px;
    }
    .input-field{
        width: 100%;
    }
    textarea{
        width: 100%;
    }
    .illustration{
        right: -1000px;
        width: 50%;
        height: 100vh;
    }
    .illustration::before{
        border-top: 340px solid transparent;
        border-bottom: 340px solid transparent;
        border-right: 140px solid #EF5455;
        content: "";
        height: 0;
        left:-140px;
        position: absolute;
        width:0;
    }
    i{
        padding: 10px;
    }
   
}

@media(min-width:1195px){
    
    body{
        overflow-y: hidden;
    }

}