extends baseEmail
block content
    p Hi #{firstName} 🚀 ,
        p
            | Welcome to Budgetify 🔥🔥 #{firstName} #{lastName} and thanks for signing up ,You are in good company.
        p  We won't take much of your time ,we would like to ensure that you are all set to use our website.
        h2 What to do 
        ul
            li Login to your account 
            li Create a new budget
            li Add new expenditures 
            li Update your budget and expenditures
            li Delete budget and expenditures
        table.btn.btn-primary(role="presentation" border="0" cellpadding="0" cellspacing="0")
            tbody
                tr
                    td(align="left")
                        table(role="presentation" border="0" cellpadding="0" cellspacing="0")
                            tbody
                                tr
                                    td
                                        a(href=`${url}` target="_blank") Click to login
        p
            | Send us a mail for any tips,ideas or recommendation via Budgetify-WebApp@outlook.com,
        p Best regards @Budgetify 🚀 
        p - Tobiloba Oladele,